/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {

}

.wrapper {
    width: 100%;
    height: 100vh;
    }

/* COMMON */


/* MAIN */

.img-placeholder {
    position: relative;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.viewer {

    padding: 50px;
    width: 100%;
    height: calc(100vh - 120px);
    background-color: black;
    overflow: scroll;
    overflow-x: hidden;
}

.pinco-pallo {
    position: absolute;
    bottom: 5px;
    left: 0;
    color: white;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;

}

.button-view {
    color: white;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

.button-scale {
    color: white;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

.buttons {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 40px;
}

/* FOOTER */
    .footer-option {
        width: 100%;
        height: 120px;
        background-color: #222222;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .flex-footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-btn {
        position: relative;
        color: white;
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0 10px;
        text-align: center;
    }

    .container-btn2 {
        position: relative;
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0 10px;
        text-align: center;
    }

    .arrow {
        position: absolute;
        top: 50%;
        right: 0px;
    }

    .icons {
        padding: 10px;
        font-size: 2rem;
    }

    .mic-video {

    }

    .options-green {
        color: green;
    }

    .close-call {
        color: red;
        background-color: darkgray;
        font-family: Arial, Helvetica, sans-serif;
        height: 100%;
        padding: 0 20px;
        text-align: center;
        line-height: 120px;
    }